@font-face {
    font-family: 'Gilam-Bold';
    src: url("../fonts/gilam-bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilam-Regular';
    src: url("../fonts/gilam-regular.ttf") format('truetype');
}

body {
    color: white;
    font-family: 'Gilam-Bold', sans-serif;
}


.wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;

}

/*Header styles*/

header {
    background-color: #171717;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 37px 0;
}

.header-logo img {
    width: 216px;
    height: 33px;
}

.button a {
    font-family: Circe, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    transition: 0.5s all ease-in-out;
}

.header-btn a{
    padding: 10px 25px;
}

.header-btn a:hover {
    background-color: #E4B564;
    color: #171717;
}

.call-button-text {
    padding-left: 8px;
}

/*Main container styles*/

/*Block heating*/

.section-heating-network {
    background-image: url("../resources/heating-bg.jpeg");
    background-repeat: no-repeat;
    padding: 110px 5px  60px 5px;
    background-attachment: fixed;
    background-size: cover;
}

.section-title, .section-info {
    text-align: left;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
    padding-top: 10px;
}

.section-info {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-right: 200px;
}

.section-examples-item {
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

.section-examples-item:hover {
    transform: scale(1.1);
}

.section-examples.grid {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 10em));
    grid-template-rows: repeat(2, minmax(25em, auto));
    grid-column-gap: 32px;
    grid-row-gap: 27px;

}

.section-examples-item p{
    text-align: center;
    padding: 220px 130px;
    font-size: 20px;
    line-height: 28px;

}

.section-examples-item.ground-works {
    background: rgba(99, 79, 44, 0.9);
    grid-column: 1 / 3;
    width: 466px;
}

.section-examples-item.plumbing {
    background: rgba(180, 163, 133, 0.9);
    grid-column: 3 / 5;
    width: 466px;
    height: 468px;
}

.plumbing p {
    padding-left:43px;
    padding-right: 44px;
}

.section-examples-item.chanels {
    background: rgba(228, 181, 100, 0.9);
    grid-column: 5 / 7;
    width: 466px;
    height: 468px;
}

.section-examples-item.pillar {
    background: rgba(99, 90, 74, 0.9);
    grid-column: 1 / 4;
    width: 715px;
    height: 468px;
}

.section-examples-item.сoncrete-wells {
    background: rgba(176, 140, 77, 0.9);
    grid-column: 4 / 7;
    width: 715px;
}
/*Block building vehicles*/

.section-building-vehicles {
    background-image: url("../resources/vehicles-bg.jpg");
    background-repeat: no-repeat;
    padding-top: 100px;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 180px;
}

.section-vehicles-container h2 {
    margin-bottom: 94px;
}

.section-examples.masonry-flex {
    display: flex;
    flex-flow: column wrap;
    max-height: 900px;
    font-family: "Gilam-Regular", sans-serif;
    align-content: space-between;
}

.section-examples-item.brick {
    width: 467px;
}

.brick p {
    text-align: left;
    line-height: 25px;
    font-size: 20px;
    padding: 44px 0 0 52px;
}

.font-bold {
    font-family: 'Gilam-Bold', sans-serif;
}

.section-examples-item.sludge-vehicle {
    height: 313px;
    background-color: rgba(14, 14, 14, 0.9);;
    order: -1;
    margin-bottom: 24px;
}

.section-examples-item.sewer-flushing-vehicle {
    background-color: rgba(36, 36, 36, 0.9);
    height: 439px;
    margin-bottom: 33px;
}

.section-examples-item.loader {
    background-color: rgba(31, 31, 31, 0.9);;
    height: 560px;
    order: -1;
}

.section-examples-item.excavator {
    background-color: rgba(228, 181, 100, 0.9);
    height: 405px;
    color: black;
    font-weight: 500;
}

.section-examples-item.backhoe-loader {
    background-color: rgba(31, 31, 31, 0.9);
    height: 255px;
    margin-bottom: 26px;
}

.section-examples-item.kamaz-onboard {
    background-color:  rgba(14, 14, 14, 1);
    height: 313px;
    margin-bottom: 26px;
}

.section-examples-item.roller-vehicle {
    background-color: rgba(10, 9, 9, 0.9);;
    height: 277px;
}

/*Block clients*/

.section-clients {
    background-image: url("../resources/clients-bg.jpg");
    background-repeat: no-repeat;
    padding-top: 180px;
    background-attachment: fixed;
    background-size: cover;
}

.clients-title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.clients-title-flex>h2 {
    margin-bottom: 0;
}

.projects-btn a {
    padding: 10px 40px;
}

.projects-btn a:hover {
    background-color: #171717;
    color: #E4B564;
    border-color: transparent;
}

.section-examples.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto,25em));
    margin-top: 72px;
}

.logo {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section-examples-item.eid {
    background-color: rgba(99, 79, 44, 0.9);
    grid-area: 1 / 1 / 2 / 2;
    height: 391px;
    width: 487px;
    position: relative;

}

.section-examples-item.mavis {
    background-color: rgba(232, 210, 171, 0.76);
    grid-area: 1 / 2 / 2 / 3;
    height: 391px;
    width: 487px;
    position: relative;
    font-family: 'Gilam-Regular', sans-serif;
}

.mavis p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.logo-mavis {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.mavis a {
    padding: 0 50px;
}

.section-examples-item.arsenal1 {
    background-color:rgba(228, 181, 100, 0.9);
    grid-area: 1 / 3 / 2 / 4;
    height: 391px;
    width: 487px;
    position: relative;
}

.section-examples-item.arsenal2 {
    background-color:rgba(99, 90, 74, 0.9);
    grid-area: 2 / 1 / 3 / 2;
    height: 391px;
    width: 487px;
    position: relative;
}

.section-examples-item.set{
    background-color: rgba(176, 140, 77, 0.9);
    grid-area: 2 / 2 / 3 / 3;
    height: 391px;
    width: 487px;
    position: relative;
}

.section-examples-item.eid2 {
    background-color:rgba(99, 79, 44, 0.9);
    grid-area: 2 / 3 / 3 / 4;
    height: 391px;
    width: 487px;
    position: relative;
}

.footer {
    background-color: #171717;
    height: 150px;
}